.search {
  align-items: center;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 1em;
  max-width: 300px;
}

.input {
  all: unset;
  box-sizing: border-box;
  font-size: var(--font-copy-main-family);
  width: 100%;
}
